body {
    background-image: url('../assets/background.png'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  .landing-page {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    max-width: 600px;
  }
  .start-game-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .start-game-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }